<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="belgiumcampus.smartfarmingapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".SelectionMenu"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Weather"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CropGrowth"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WaterRainfall"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Irrigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".IrrigationHistory"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".SoilMoisture"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".About"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>